---
/** Disqus universal embed component */
interface Props { pageUrl?: string; pageId?: string; enableCount?: boolean }
const { pageUrl = '', pageId = '', enableCount = false } = Astro.props;
---
<div id="disqus_thread"></div>
<script is:inline>
  var disqus_config = function () {
    this.page.url = ${JSON.stringify(pageUrl)} || document.querySelector('link[rel="canonical"]')?.href || window.location.href;
    this.page.identifier = ${JSON.stringify(pageId)} || window.location.pathname.replace(/\/$/, '') || 'index';
  };
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://tekhaza.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
{ enableCount && <script id="dsq-count-scr" src="//tekhaza.disqus.com/count.js" async></script> }
<noscript>Lütfen JavaScript'i etkinleştirin: <a href="https://disqus.com/?ref_noscript">yorumları görmek için</a>.</noscript>
