---
interface Props {
  pageUrl: string;
  pageId: string;
}
const { pageUrl, pageId } = Astro.props;
---

<div id="disqus_thread"></div>
<script is:inline>
  const url = document.querySelector("link[rel='canonical']")?.href;
  const id = document.querySelector("meta[name='title']")?.content;

  function disqus_config() {
    this.page.url = pageUrl === "" ? url : pageUrl;
    this.page.identifier = pageId === "" ? id : pageId;
  }

  (function () {
    const d = document;
    const s = d.createElement("script");
    s.src = "https://tekhaza.disqus.com/embed.js";
    s.setAttribute("data-timestamp", String(Date.now()));
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
