---
const today = new Date();
import Social from './Social.astro';
---
<footer>
	&copy; {today.getFullYear()} Techoxium. Tüm Hakları Saklıdır.
	<p>
		<Social platform="Youtube" link="https://www.youtube.com/@TechOxium" />
		<Social platform="NextSosyal" link="https://sosyal.teknofest.app/@techoxium" />
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
